.body--night-mode {
    background-color: #222;
    color: #d9d9d9;
}


.logo--night-mode {
    filter: invert(100%);
}

.tumbler__wrapper--night-mode {
    background-color: #343434;
}

/*TODO
 */
/*.login__input {*/

/*}*/

/*.login__input:focus {*/
/*    */
/*}*/

/*.login__input::placeholder {*/
/*    color: #bbb;*/
/*}*/






.tumbler--night-mode {
    transform: translateX(calc(100% - 2px));
    background-color: #D9D9D9;
}

.movements--night-mode {
    background-color: #343434;
    color: #d9d9d9;
}